<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
       <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xmlns:context="http://www.springframework.org/schema/context"-->
       <!--xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">-->

    <!--&lt;!&ndash;&lt;!&ndash;@Transaction annotation support &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<tx:annotation-driven transaction-manager="transactionManager"/>&ndash;&gt;-->

    <!--&lt;!&ndash;Обеспечивает работу с транзакциями в Spring &ndash;&gt;-->
    <!--<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">-->
        <!--<property name="entityManagerFactory" ref="emf"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash; EntityManagerFactory &ndash;&gt;-->
    <!--<bean id="emf" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">-->
        <!--<property name="dataSource" ref="dataSource"/>-->

        <!--&lt;!&ndash;Поставщик данных - hibernate&ndash;&gt;-->
        <!--<property name="jpaVendorAdapter">-->
            <!--<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>-->
        <!--</property>-->

        <!--&lt;!&ndash;поиск сущностей в этом пакете&ndash;&gt;-->
        <!--<property name="packagesToScan"-->
                  <!--value="ru.votingsystem.model"/>-->
    <!--</bean>-->

    <!--&lt;!&ndash; Datasource. Источник данных - база postgres &ndash;&gt;-->
    <!--<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
        <!--<property name="driverClassName" value="org.postgresql.Driver"/>-->
        <!--<property name="url" value="jdbc:postgresql://localhost:5432/votingsystem"/>-->
        <!--<property name="username" value="postgres"/>-->
        <!--<property name="password" value="pass"/>-->
    <!--</bean>-->


    <!--&lt;!&ndash;Scanning components in base-package (look for annotations) &ndash;&gt;-->
    <!--<context:component-scan base-package="ru.votingsystem"/>-->

    <!--&lt;!&ndash;&lt;!&ndash; Need for Repository abstraction &ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<jpa:repositories base-package="ru.votingsystem.repository" entity-manager-factory-ref="emf"&ndash;&gt;-->
    <!--&lt;!&ndash;transaction-manager-ref="transactionManager"/>&ndash;&gt;-->
<!--</beans>-->